<form #signUpForm="ngForm" *ngIf="showSignUpForm" class="add-form" (ngSubmit)="onSubmit(signUpForm)" >
    <div class="form-control">
        <label for="text">First Name:*</label>
        <input type="text" name="firstName" [(ngModel)]="firstName" id="firstName" placeholder="John" >
    </div>
    <div class="form-control">
        <label for="text">Last Name:</label>
        <input type="text" name="lastName" [(ngModel)]="lastName"  id="lastName" placeholder="Jackson">
    </div>
    <div class="form-control">
        <label for="text">Email:*</label>
        <input type="text" name="email" [(ngModel)]="email"  id="email" placeholder="j.jackson@gmail.com">
    </div>
    <div class="form-control">
        <label for="text">Start Date:*</label>
        <input type="date" name="startDate" [(ngModel)]="startDate"  id="startDate">
    </div>
    <div class="form-control">
        <label for="text">Total Years Exprience With This Activity:</label>
        <input type="number" name="yearsOfExperience" [(ngModel)]="yearsOfExperience"  id="yearsOfExperience" placeholder="2">
    </div>
    <div class="form-control">
        <div class="hover-field">
            <label for="text">Activity:*</label>
            <span class="hovertext" data-hover="Aerobics, Stationary Cycling, Dancing, Martial Arts, Swimming, Weightlifting, Yoga">
                Offered Activities
            </span>
        </div>
        <input type="text" name="activity" [(ngModel)]="activity"  id="activity" placeholder="Stationary bicycling">
    </div>
    <div class="form-control">
        <label for="text">Comments:</label>
        <textarea type="textarea" name="comments" [(ngModel)]="comments"  id="comments"></textarea>
    </div>
    <input type="submit" class="btn btn-block">
</form>
